


<h1>Welcome to Pouch DB Integration Demo</h1>
<br>
<br>

<form [formGroup]="pouchform"> 

  <label>Your Name</label>
  <input formControlName="name"/>

  <br>

  <br>

  <label>Your email id</label>
  <input type="email" formControlName="emailid"/>

  <br>
  <br>
  <button (click)="saveForm()" type="submit">Save Form</button>





<hr>
<h2>Search By Name</h2>>

<label>Enter Name</label>
<input formControlName="searchName"/>
<br>
<button (click)="search()">Search</button>

<table>

  <tr *ngFor="let row of result">

    <td>{{row.name}}</td>
    <td>{{row.emailid}}</td>
  </tr>
</table>

</form>





